* {
    /* font-family: Microsoft JhengHei; */
    font-family: 'Manrope', 'Noto Sans TC', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

* body{
    margin: 0;
}

* a {
    text-decoration: none !important;
    word-break: break-all;
    color: #333333;

}

* a:hover{
    color:#4C9EEA;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* * a:visited{
    color: #333333;
} */

* ul {
    list-style: none !important;
    margin: 0px;
    padding: 0px;
}

* img {
    max-width: 100%;
    
}

* p {
    word-break: break-word;
    line-height: 1.6;
    margin: 4px 0 0 0;
    
}