/* CONTENT start */


.indexContent{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 1440px;

}
.leftListCon{
    flex:2 1 40%;
    margin: 76px 76px auto 0;
}
.leftListInner{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* partner */
.partner{
    flex:2 1 auto;
    margin:0 20px 0 0;
}
/* gameGroup */
.leftListInner .gameGroup{
    flex:1 1 70%;
    
}

.leftListInner a{
    text-align: center;
}

.leftListInner .sports
span, .leftListInner .otherGame span {
    display: inline-block;
    color: #666666;
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
}

.leftListInner .otherGame {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.leftListInner a {
    display: block;
    text-align: center;
}

.leftListInner .otherGame .game {
    flex:1 1 30%;
    margin-top: 30px;
    padding: 0 10px;
}

.leftListInner .btn{
    margin-top: 40px;
}


/* programList */
.rightLiveCon{
    flex:2 1 15%;
    max-width: 330px;;
}

.rightLiveCon{
    flex:1 1 13%;
    border: 1px solid red;
}

.programOverflow{
    overflow-y:auto;
    height: calc(100vh - 178px);
}


.topBallListContent{
    width: 100%;
    height: 85px;
    padding-top: 10px;
    background-color: #ffff;
    box-shadow: 3px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.topBallListInner{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.ballItem {
    text-align: center;
}


.topBallListInner a{
    display: block;
    font-size: 14px;
}

.topBallListInner a span {
    display: block;
    margin-top: 10px;
    position: relative;

}
.topBallListInner .ballItem:first-child a {
    color: #4C9EEA;
}

.topBallListInner .ballItem:first-child a span::after {
    width: 100%;
}

.topBallListInner a span::after {
    content: "";
    display: inline-block;
    background-color: #4C9EEA;
    width: 0%;
    height: 5px;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: -15px;
    
}

.topBallListInner a:hover span::after{
    color: #4C9EEA;
    width: 100%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* CONTENT end */