/* HEADER start */
.headerContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    

}
.brandLogo{
    flex: 1 1 auto;
    
}
.pageMenu{
    flex: 2 1 auto;
}
.pageMenu ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.signGroup{
    flex: 1 1 auto;
}
/* HEADER end */





/* ===RWD=== */

@media only screen and (min-width: 1200px) {}


@media only screen and (max-width: 1199px) {}


@media only screen and (min-width: 992px) {}


@media only screen and (max-width: 991px) {}


@media only screen and (min-width: 768px) {}


@media only screen and (max-width: 767px) {}


@media only screen and (min-width: 576px) {}


@media only screen and (max-width: 568px) {}


@media only screen and (max-width: 440px) {}


@media only screen and (max-width: 420px) {}


@media only screen and (max-width: 380px) {}


@media only screen and (max-width: 320px) {}